{% extends "layout.html" %}
{% block title %}
  {{ profile_username }}'s Timeline
{% endblock %}
{% block body %}
  <h2>{{ self.title() }}</h2>
  {% if g.current_username %}
    <div class="followstatus">
    {% if g.current_username == profile_username %}
      This is you!
    {% elif followed %}
      You are currently following this user.
      <a class="unfollow" href="{{ url_for('unfollow_user', profile_username=profile_username)}}">
        Unfollow user
      </a>.
    {% else %}
      You are not yet following this user.
      <a class="follow" href="{{ url_for('follow_user', profile_username=profile_username)}}">
        Follow user
      </a>.
    {% endif %}
    </div>
  {% endif %}
  <ul class="messages">
    {% for message in messages %}
    <li>
      <img class="avatar" src="{{ message.author|robohash(size=80) }}">
      <div class="message-contents">
        <div class="message-text">
          <strong>
            <a href="{{ url_for('user_profile', profile_username=message.author)}}">
              {{ message.author }}
            </a>
          </strong>
          {{ message.text }}
          <small>
            &mdash; {{ message.pub_date|datetimeformat }}
          </small>
        </div>
        {% if message.image_url %}
        <div class="message-image">
          <img src="{{ message.image_url }}">
        </div>
        {% endif %}
      </div>
    </li>
  {% else %}
    <li>
      <em>There's no message so far.</em>
    </li>
  {% endfor %}
  </ul>
{% endblock %}
